[Unit]
Description=YubiPi API Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
EnvironmentFile=/etc/default/yubipi
ExecStart=yubipi -s -d ${DEVICE} -p ${PIN} -T ${TIMEOUT} -r ${RETRIES} -S ${PRESS_DURATION} -R ${RELEASE_DURATION} -t ${TOKEN} -H ${HOST} -P ${PORT}

[Install]
WantedBy=multi-user.target
